.parallax-background {
    background-position: 50% 0;
    background-repeat: no-repeat;
    
    background-size: cover;
    -webkit-background-size: cover;

    transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}

/* Used for visualization only */
.add-some-space {
    min-height: 400px;
}

.parallax-background.add-some-space {
    box-shadow: inset 0 0 10px #3c3c3c;
}